@mixin button($color, $hover:darken($color, 5%)) {
    display: block;
    cursor: pointer;
    @include font-condensed;
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color;
    padding: 1em 2em;
    border: 0;

    &:hover {
        color: $color-white;
        background-color: $hover;
    }
}