.meta {
    margin: $padding/4 0;
    @include font-sans-serif;

    &__category {
        span {
            &:before {
                content: '#';
            }
            &:after {
                content: ', ';
            }

            &:last-of-type:after {
                display: none;
            }
        }
    }

    &__date {
        &:after {
            content: '|';
            margin: 0 .5em;
        }
    }

    &__tag {
        span {
            &:before {
                content: '#';
            }
            &:after {
                content: ', ';
            }

            &:last-of-type:after {
                display: none;
            }
        }
    }
}