.header {
    background-color: $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    @include container;

    .rf-logo {
        font-size: 1em;

        @include tablet-break {
            font-size: .65em;
        }

        @include phone-break {
            font-size: 1em;
        }
    }

    // @include phone-break {
    //     .nav {
    //         display: none;
    //     }
        
    //     .navicon {
    //         display: block;
    //     }
    // }
}