.nav {
    color: $color-white;
	flex: 1;
	display: flex;
	justify-content: flex-end;

	a {
		text-decoration: none;
		margin-left: 2rem;
		@include font-condensed;
		text-transform: uppercase;
		font-size: 1em;
		color: $color-white;

		&.active {
			color: $color-orange;
		}

		&:hover {
			color: $color-orange;
			cursor: pointer;
			@include glitch($color-orange, $color-black);
		}

		#site.open & {
			color: $color-white;
			
			&#contact {
				position: relative;
				z-index: 100;
				color: $color-orange;
			}
		}
	}

	.off-canvas & {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include container;

		a {
			font-size: 2em;
			margin: .5em 0;

			&:hover {
				color: $color-orange;
				cursor: pointer;
				@include glitch($color-white, $color-blue);
			}
		}
	}
}