.site {
	position: relative;
    will-change: transform;
    transition: $transition;

    &.open {
		transform: translateX(-33.33vw);
		
		@include tablet-break {
			transform: translateX(-50vw);
		}

        @include phone-break {
			transform: 
			translateX(-100%) translateX($spacing * 2) translateX($navicon-width);
        }
    }
}

.off-canvas {
	display: none;
	flex-wrap: wrap;
	align-content: center;
	transition: $transition * 2;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: $color-blue;
	height: 100%;
	width: 33.33vw;
	padding: $spacing;

	@include tablet-break {
		width: 50%;
	}

	@include phone-break {
		align-content: start;
		width: calc(100% - ((#{$spacing} * 2) + #{$navicon-width}));
	}

	& > * {
		width: 100%;
		margin-bottom: $spacing;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.open & {
		display: flex;
	}
}

.page-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-black;
    opacity: .5;
    z-index: 40;
    
    &.open {
        opacity: 1;
        pointer-events: auto;
    }
}