.site {
    position: relative;
    will-change: transform;
    transition: $transition;

    $navicon-width: 40px;

    &__content {
        position: relative;
        
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: transparentize($color-black, .25);
            z-index: 10;
            transition: $transition;
            opacity: 0;
            pointer-events: none;
        }
    }

    .off-canvas {
        display: none;
        transition: $transition*2;
        position: absolute;
        top: 0;
        left: 100%;
        width: 33.33vw;
        background-color: $color-blue;
        box-sizing: border-box;
        height: 100%;

        @include phone-break {
            width: calc(100% - ((2 * #{$padding})) - #{$navicon-width});
        }
    }

    &.open {
        // overflow: visible;
        transform: translateX(-33.33vw);

        @include phone-break {
            transform: translateX(-100%) translateX(2*$padding) translateX($navicon-width);
        }

        .overlay {
            opacity: 1;
            pointer-events: auto;
        }

        .off-canvas {
            display: block;
        }
    }
}
