.portfolio-block {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: currentColor;
    background-position: center center;
    background-blend-mode: luminosity; //multiply or luminosity?
    background-size: cover;
    padding: $spacing;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &__logo {
        flex: 1;
        width: 100%;
        padding: 0 $spacing;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
        width: 100%;
        height: 100%;
        display: block;
        max-width: 30vw;
        max-height: 15vw;

            @include phone-break {
                max-height: 100%;
                max-width: 75%;
            }
        }
    }

    &__content {
        text-align: center;
        color: $color-white;
        max-height: 0;
        overflow: hidden;
        transition: 2*$transition;
        font-size: 1.5rem;

        @include tablet-break {
            max-height: none;
            font-size: 1rem;
        }
    }

    &__title {
        @include font-condensed;
        text-transform: uppercase;
        text-align: center;
        line-height: 1em;
        margin: $spacing/2 0;
    }

    &__meta {
        line-height: 1.125em;
        display: block;
        margin-bottom: $spacing/2;

        span {
            display: inline-block;
        }
    }

    &__link {
        @include font-sans-serif;

        &:after{
            content: ' ▸▸';
            display: inline-block;
            position: relative;
        }
    }
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -1px; right: -1px; bottom: -1px; left: -1px;
        background-color: transparentize($color-black, .25);
        
        z-index: 1;
        opacity: 0;
        transition: 0s;
    }

    > * {
        position: relative;
        z-index: 2;
    }

    &:hover, &:focus {   
        
        &:before {
            opacity: .5;
        }
        .portfolio-block__content {
            max-height: 100%;
        }
    }

    @supports (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
        transition: .2s;
        clip-path: polygon(
            0 0,
            100% 0, 
            100% 100%, 
            0 100%
        );

        &:hover, &:focus {
            clip-path: polygon(
                1rem 2rem, 
                calc(100% - 2rem) 1rem, 
                calc(100% - 1rem) calc(100% - 2rem), 
                2rem calc(100% - 1rem)
            );
        // clip-path: url(#tv-shape);
        }

        &:nth-child(odd):hover, &:nth-child(odd):focus {
            clip-path: polygon(
                2rem 1rem, 
                calc(100% - 1rem) 2rem, 
                calc(100% - 2rem) calc(100% - 1rem), 
                2rem calc(100% - 2rem)
            );
        }
    }
}