$transition: 0.2s;

a, a * {
    transition: $transition;
}

svg, svg * {
    transition: $transition;
}

.button {
    transition: $transition;
}

@mixin glitch($color:$color-black, $background:$color-white) {

    @keyframes noise-anim {
        $steps: 20;
        @for $i from 0 through $steps{
            #{percentage($i*(1/$steps))}{
              clip: rect(random(100)+px,9999px,random(100)+px,0);
            }
        }
    }

    @keyframes noise-anim-2 {
        $steps: 20;
        @for $i from 0 through $steps{
            #{percentage($i*(1/$steps))}{
            clip: rect(random(100)+px,9999px,random(100)+px,0);
            }
        }
    }

    color: $color;
    position: relative;

    &:before{
        pointer-events: none;
        content: attr(data-text);
        position: absolute;
        left: -1px;
        top: 0;
        color: $color;
        background: $background;
        overflow:hidden;
        clip: rect(0,900px,0,0);
        animation: noise-anim-2 4s infinite linear alternate-reverse;
    }

    &:after{
        pointer-events: none;
        content: attr(data-text);
        position: absolute;
        left: 1px;
        top: 0;
        color: $color;
        background: $background;
        overflow: hidden;
        clip: rect(0,900px,0,0);
        animation: noise-anim 2s infinite linear alternate-reverse;
    }

    @include tablet-break {
        &:before, &:after {
            display: none;
        }
    }
}

@mixin highlight($color:currentColor, $hover-color: currentColor, $background-color: $color-orange) {
    color: $color;
    transition: color $transition * 2, background $transition;
    background-image: linear-gradient(to right, transparent 50%, $background-color 50%);
    background-position: 0;
    background-size: 200%;

    &:hover {
        color: $hover-color;
        background-position: -100%;
    }
}

@mixin float {
    animation-name: floating;
    animation-duration: $transition*2;
    animation-iteration-count: infinite;
    // position: relative;
    
    @keyframes floating {
        from { margin-top: 0; }
        50%  { margin-top: -.125em; }
        to   { margin-top: 0; }    
    }
}

@mixin social-hover($brand-color) {
    overflow: hidden;
    position: relative;

    svg {
        position: relative;
        z-index: 10;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: 100%;
        z-index: 5;
        background: $brand-color;
        transition: margin $transition;
    }

    &:hover {
        &:after {
            margin-top: 0;
        }
    }
}
