html {
    font-size: 12px;
}

$padding: 2rem;

@include phone-break {
    $padding: 1rem;
}

$readable-width: 70rem;

@mixin container {
    padding-left: $padding;
    padding-right: $padding;
}

@mixin readable {
    @include container;
    max-width: $readable-width;
    margin-left: auto;
    margin-right: auto;
}
