// @import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i");
// @import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,700");

@mixin font-sans-serif() {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

@mixin font-condensed() {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

@mixin text-link {
    color: $color-blue;
    text-decoration: none;

    &:hover {
        color: $color-orange;
    }
}
