.footer {
    background-color: $color-dark-gray;

    &-post {
        background-color: $color-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include container;
        color: $color-white;
        font-size: 1em;

        @include tablet-break {
            display: block;
        }

        .copyright {
            &:before {
                content: '\00a9';
            }

            @include tablet-break {
                text-align: center;
                padding: 1em;
            }
        }

        .socials{
            svg {
                height: 2.5em;
                width: auto;
            }

            @include tablet-break {
                justify-content: center;
                svg {
                    height: 3em;
                    width: auto;
                }
            }

            @include phone-break {
                margin-left: -$spacing;
                margin-right: -$spacing;

                li {
                    flex: 1;
                }

                a.social {
                    &:after {
                        margin-top: 0;
                    }
                }

                svg {
                    width: 100%;
                    height: auto;
                }
            }

        }
    }
}

.footer-contact {
    background: $color-blue;

    &__header {
        width: 100%;
        background-color: $color-black;
        @include font-condensed;
       color: $color-white;
       font-size: 1.25em;
       text-align: center;
       text-transform: uppercase;
       padding: $spacing/2;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
    }

    &__container {
        @include readable;
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        padding-left: 20px;
        transition: $transition;
    }
}
