.header {
    background-color: $color-black;
    padding: 1rem;
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

    &__logo {
        svg {
            display: block;
            height: 1.5em;
            width: auto;

            * {
                fill: $color-white;
            }
        }

        &:hover {
            svg * {
                fill: $color-orange;
            }
        }
    }

    .nav {
        flex: 1;

        @include phone-break {
            display: none;
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: flex-end;
        }

        &__link {
            a {
                text-decoration: none;
                margin-left: 2rem;
                @include font-condensed;
                text-transform: uppercase;
                font-size: 1em;
                color: $color-white;
                }
            &:hover a {
                @include glitch($color-white, $color-black);
            }

            &.active a {
                color: $color-orange;
            }

            &.active:hover a {
                @include glitch($color-orange, $color-black);
            }
        }
    }
}
