$transition: 0.2s;

a, a * {
    transition: $transition;
}

svg, svg * {
    transition: $transition;
}

.button {
    transition: $transition;
}

@mixin glitch($color:$color-black, $background:$color-white) {

    @keyframes noise-anim{
        $steps: 20;
        @for $i from 0 through $steps{
            #{percentage($i*(1/$steps))}{
              clip: rect(random(100)+px,9999px,random(100)+px,0);
            }
        }
    }

    @keyframes noise-anim-2{
        $steps: 20;
        @for $i from 0 through $steps{
            #{percentage($i*(1/$steps))}{
            clip: rect(random(100)+px,9999px,random(100)+px,0);
            }
        }
    }

    color: $color;
    position: relative;

    &:before{
        content: attr(data-text);
        position: absolute;
        left: -1px;
        top: 0;
        color: $color;
        background: $background;
        overflow:hidden;
        clip: rect(0,900px,0,0);
        animation: noise-anim-2 4s infinite linear alternate-reverse;
    }

    &:after{
        content: attr(data-text);
        position: absolute;
        left: 1px;
        top: 0;
        color: $color;
        background: $background;
        overflow: hidden;
        clip: rect(0,900px,0,0);
        animation: noise-anim 2s infinite linear alternate-reverse;
    }
}

@mixin social-hover($brand-color) {
    overflow: hidden;
    position: relative;

    svg, img {
        position: relative;
        z-index: 10;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: 100%;
        z-index: 5;
        background: $brand-color;
        transition: margin $transition;
    }

    &:hover {
        &:after {
            margin-top: 0;
        }
    }
}
