.portfolio-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1;
    min-width: 33.333%;
    height: 33vw;

    
    &:nth-child(4n-2), &:nth-child(4n-1) {
      min-width: 66.666%;
    }
  }
}