.portfolio-block {

    h2 {

    }

    .meta {
        font-size: 1.25em;
        line-height: 1.125em;
        display: block;
        margin-bottom: $spacing/2;

        span {
            display: inline-block;
        }
    }

    &__link {
        display: block;
        color: $color-white;
        font-size: 1.5em;

        &:after{
            content: ' ▸▸';
            display: inline-block;
            position: relative;
        }

        &:hover {
            color: $color-white;
        }
    }

    &:before, &:after {
        content: '';
        display: block;
        transition: 1.5*$transition;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &:before {
        background-color: transparentize($color-dark-gray, .25);
        position: absolute;
        opacity: .5;

    }

    &:after {
        @include pixels;
        background-color: transparentize($color-blue, .25);
        position: absolute;
        opacity: 0;
    }
}
