@mixin grid-block-active {

    &:before {
        opacity: 0;
    }

    &:after {
        opacity: .66;
    }

    .portfolio-block__info {
        max-height: 100%;
    }
}

.portfolio-block {
    display: block;
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    color: $color-white;
    text-shadow: $shadow;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;

    transition: 1.5*$transition;
    @include container;
    display: flex;
    flex-direction: column;

    & > * {
        position: relative;
        z-index: 2;
    }

    &__logo{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spacing;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: 1.5*$transition;

        // > *:first-child {
        //     margin-top: $spacing;
        // }

        > *:last-child {
            margin-bottom: $spacing;
        }
    }

    h2 {
        @include font-condensed;
        color: $color-white;
        font-weight: 300;
        text-align: center;
        @include font-size(1.75em, 1.5em, 1.25em);
        line-height: 1em;
        margin: 0;
        margin-bottom: $spacing/2;
    }

    .meta {
        font-size: 1.25em;
        line-height: 1.125em;
        display: block;
        margin-bottom: $spacing/2;

        span {
            display: inline-block;
        }
    }

    &__link {
        display: block;
        color: $color-white;
        font-size: 1.5em;

        &:after{
            content: ' ▸▸';
            display: inline-block;
            position: relative;
        }

        &:hover {
            color: $color-white;
        }
    }

    &:before, &:after {
        content: '';
        display: block;
        transition: 1.5*$transition;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    &:before {
        background-color: transparentize($color-dark-gray, .25);
        position: absolute;
        opacity: .5;

    }

    &:after {
        @include pixels;
        background-color: transparentize($color-blue, .25);
        position: absolute;
        opacity: 0;
    }

    &:hover {
        .portfolio-block__title, .portfolio-block__link {
            color: $color-orange;
        }

        @include grid-block-active;
    }

    @include tablet-break {
        @include grid-block-active;
    }
}
