.socials {
    margin: 0;
    padding: 0;
    line-height: 0;
    width: auto;
    display: flex;

    li {
        list-style: none;

        .social {
            cursor: pointer;
            display: block;
            width: 100%;
            height: auto;

            svg, img {
                fill: $color-white;
                display: block;
                width: auto;
                height: 100%;
                min-height: 2rem;
                width: auto;

                path {
                    fill: $color-white;
                }
            }
        }
    }
}
