// these need to be updated in portfolio-swiper.html to work with the <picture> element

$large: 1350px;
$tablet: 1024px;
$phone: 500px;

@mixin desktop-break () {
	@media only screen and (min-width: $large) {
		@content;
	}
}

@mixin tablet-break () {
	@media only screen and (max-width: $tablet) {
		@content;
	}
}

@mixin phone-break () {
	@media only screen and (max-width: $phone) {
		@content;
	}
}
