@mixin button($color, $hover:darken($color, 5%)) {
    display: block;
    cursor: pointer;
    text-align: center;
    @include text-link;
    color: $color-white;
    background-color: $color;
    padding: 1em 2em;

    &:hover {
        color: $color-white;
        background-color: $hover;
    }
}
